@import url("http://fonts.cdnfonts.com/css/league-spartan");

body {
  font-family: "League Spartan", sans-serif;
  background-image: url("images/bg-pattern-top-desktop.svg"),
    url("images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
}
main {
  display: flex;
  justify-content: space-evenly;
}
.container {
  width: 440px;
  height: 400px;
  transform: translate(0%, 18%);
}
h1 {
  color: hsl(300, 43%, 22%);
  font-size: 42px;
  font-weight: 700;
}
h3 {
  color: hsl(303, 10%, 53%);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}
.ratings {
  transform: translate(0%, 18%);
  margin-top: 70px;
}
ul {
  display: flex;
  width: 450px;
  height: 60px;
  background-color: hsl(334, 100%, 97%);
  align-items: center;
  border-radius: 10px;
}
.rating-report {
  margin-left: 75px;
  margin-top: 20px;
}
.rating-best {
  margin-left: 150px;
  margin-top: 20px;
}
.star {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
h4 {
  color: hsl(300, 43%, 22%);
  margin-top: 22px;
  font-size: 16px;
  margin-left: 40px;
}
.bottom-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.magenta-cards1 {
  width: 420px;
  height: 270px;
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
}
.flex-name {
  display: flex;
  justify-content: center;
}
.name {
  color: white;
  font-weight: 300;
}
.status {
  color: hsl(333, 51%, 53%);
  margin-top: 3px;
}
.details {
  /* margin-left: 60px; */
  transform: translate(-45%, 72%);
}
.magenta-cards2 {
  width: 420px;
  height: 270px;
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
  margin-top: 30px;
  margin-left: 40px;
}
.magenta-cards3 {
  width: 420px;
  height: 270px;
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
  margin-top: 60px;
  margin-left: 40px;
}
.person {
  display: inline-block;
  border-radius: 50%;
  width: 15%;
  transform: translate(-125%, 50%);
}
p {
  color: white;
  font-weight: 400;
  padding: 45px;
  line-height: 1.8;
  font-size: 15px;
}

@media screen and (max-width: 380px) {
  main {
    display: block;
  }
  .container {
    width: 350px;
    height: 300px;
    text-align: center;
  }
  h1 {
    font-size: 35px;
  }
  .magenta-cards1 {
    width: 420px;
    height: 270px;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
  }
  .magenta-cards2 {
    width: 420px;
    height: 270px;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
    margin-left: 0px;
  }
  .magenta-cards3 {
    width: 420px;
    height: 270px;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
    margin-left: 0px;
  }
  .rating-report {
    margin-left: 0px;
    margin-top: 20px;
  }
  .rating-best {
    margin-left: 0px;
    margin-top: 20px;
  }
  .bottom-container {
    display: flex;
    flex-direction: column;
  }
}
